<cw-toolbar>
  <ng-template cwToolbarLeft>
    <tui-icon icon="@tui.file-text" />
    <h3>{{ document().name }}</h3>
  </ng-template>
  <ng-template cwToolbarRight>
    <cw-zoom (zoomChange)="zoom.set($event)" />

    <button
      tuiButton
      size="s"
      appearance="accent"
      iconStart="@tui.check"
      type="button"
      (click)="onSave()"
    >
      Сохранить
    </button>
  </ng-template>
</cw-toolbar>

<section class="pages">
  <tui-scrollbar cwDraggableScroller>
    @for (page of pages(); track `${page.number}-${page.imageUrl}`) {
      <cw-document-page
        [style.zoom]="zoom()"
        [page]="page"
        (pageChange)="onPageChange($event)"
      />
    } @empty {
      <cw-error-message
        heading="Пусто"
        subheading="В документе отстутствуют страницы"
      />
    }
  </tui-scrollbar>
</section>
