<cw-toolbar>
  <ng-template cwToolbarLeft>
    <tui-icon icon="@tui.file-text" />
    <h3>{{ document().name }}</h3>
  </ng-template>
  <ng-template cwToolbarRight>
    <cw-zoom-control (zoomChange)="zoom.set($event)" />

    <button
      tuiButton
      size="s"
      appearance="accent"
      iconStart="@tui.check"
      type="button"
      (click)="onSave()"
    >
      Сохранить
    </button>
  </ng-template>
</cw-toolbar>

<section class="pages">
  <tui-scrollbar>
    <div
      class="zoom-container"
      [style.zoom.%]="zoom()"
    >
      @for (page of pages(); track page.number) {
        <cw-document-page [page]="page" />
      } @empty {
        <cw-error-message
          heading="Пусто"
          subheading="В документе отстутствуют страницы"
        />
      }
    </div>
  </tui-scrollbar>
</section>
